@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Poppins:wght@200;400&display=swap");

/* Tooltip Styles */

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* -- End Of Tooltip Styles -- */

/* Toggle Styles */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 36.5px;
}

.switch input {
    outline: none;
    border: none;
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    outline: none;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #121218;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #747497;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round:before {
    border-radius: 50%;
}

/* -- End Of Toggle Styles -- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    padding: 1rem;
    background-color: #20232b;
    color: white;
    font-family: Poppins, sans-serif;
    min-width: 280px;
    max-width: 300px;
    max-height: 400px;
    aspect-ratio: 2.5 / 3;
}

.solidet-text {
    font-family: Orbitron, sans-serif;
    font-size: 1rem;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.solidet-linktree {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.version-text {
    top: 0.7rem;
    right: 0.7rem;
    position: absolute;
    font-size: 0.8rem;
    margin-top: 8px;
    color: #858592;
    float: right;
}

.option-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

select {
    border: none;
    background-color: #0b0c0f;
    color: white;
    padding: 8px 12px;
    border-radius: 20px;
}

#convert-from {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#convert-to {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

select:disabled {
    cursor: not-allowed;
}

.converter-container {
    display: flex;
    /* column-gap: 16px; */
    align-items: center;
}

#alert {
    transition: all 0.2s ease-in-out;
}

body:has(select:hover) #alert {
    opacity: 1 !important;
}
